<%= render :partial => 'spree/admin/shared/product_tabs', :locals => {:current => "Parts"} %>
<div id="product_parts" data-product-slug="<%= @product.slug %>">
  <%= render :partial => "parts_table", :locals => {:parts => @parts} %>
</div>

<%= form_tag('#') do %>
  <label><%= Spree.t(:search) %>:</label>
  <div class="input-group">
    <input id="searchtext" size="25" class="form-control">
    <span class="input-group-btn">
      <button id="search_parts_button" class="btn btn-search" name="button">
        Search
      </button>
    </span>
  </div>
  <!--<div data-hook="add_product_name" class="field">
    <%= label_tag :add_variant_id, Spree.t(:name_or_sku) %>
    <%= text_field_tag :add_variant_id, "", class: "variant_autocomplete fullwidth" %>
  </div>%-->
<% end %>

<br/>
<div id="search_hits"></div>